	<div class="row" id="contactInformation">
		<div class="col-md-1" style="margin-right:35px">
			<img id="linkedin" src="/images/linkedin.png" class="img-responsive" alt="Responsive image" onclick="onLinkedInClick()">
		</div>
		<div class="col-md-1" id="github" style="margin-right:20px; margin-left:20px">
			<img src="/images/github.png" class="img-responsive" alt="Responsive image" onclick="onGitHubClick()">
		</div>
		<div id="emailImages" class="col-md-1" style="margin-left:35px">
			<img id="email" src="/images/email.png" class="img-responsive" alt="Responsive image" onclick="onEmailClick();">
		</div>
	</div>