<div class="navbar navbar-fixed-bottom">
	<div class="row" style="padding-top:70px">
		<div class="col-md-2 col-md-offset-1 col-sm-1 col-sm-offset-1">
			<img src="/images/linkedin.png" class="img-responsive" alt="Responsive image">
		</div>
		<div class="col-md-2 col-md-offset-2 col-sm-1 col-sm-offset-1">
			<img src="/images/github.png" class="img-responsive" alt="Responsive image">
		</div>
		<div class="col-md-2 col-md-offset-2 col-sm-1 col-sm-offset-1">
			<img src="/images/email.png" class="img-responsive" alt="Responsive image">
		</div>
	</div>
</div>