<header>
	<h1>
		Erik Kamp
	</h1>
	<div class="row" id="contactInformation">
		<div class="col-md-2 col-md-offset-1 col-sm-1 col-sm-offset-1" id="linkedin">
			<img src="/images/linkedin.png" class="img-responsive" alt="Responsive image" onclick="onLinkedInClick()">
		</div>
		<div class="col-md-2 col-md-offset-2 col-sm-1 col-sm-offset-1" id="github">
			<img src="/images/github.png" class="img-responsive" alt="Responsive image" onclick="onGitHubClick()">
		</div>
		<div class="col-md-2 col-md-offset-2 col-sm-1 col-sm-offset-1" id="email">
			<img src="/images/email.png" class="img-responsive" alt="Responsive image" onclick="onEmailClick()">
		</div>
	</div>
</header>