<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="font-size: 40px;" href="#">EK</a>
    </div>
     <div class="collapse navbar-collapse" id="collapsable-navbar">
      <ul class="nav navbar-nav">
         <li><a href="www.google.com">Projects</a></li>
         <li><a href="www.google.com">Athletics</a></li>
      </ul>
    </div>
  </div>
</nav>